<div class="vlr-advanced-search__header">
	<div class="vlr-advanced-search__header-toolbar">
		<a href="#" class="vlr-advanced-search__clear">Clear filters</a>
	</div>
	<h1 class="vlr-advanced-search__header-title">Project Criteria</h1>
</div>

<div class="vlr-advanced-search__section vlr-advanced-search__section-options"></div>
<div class="vlr-advanced-search__section vlr-advanced-search__section-programmes"></div>
<div class="vlr-advanced-search__section vlr-advanced-search__section-subprogrammes"></div>
<div class="vlr-advanced-search__section vlr-advanced-search__section-actions"></div>
<div class="vlr-advanced-search__section vlr-advanced-search__section-activities"></div>
<div class="vlr-advanced-search__section vlr-advanced-search__section-activity-years"></div>
<div class="vlr-advanced-search__section vlr-advanced-search__section-funding-years"></div>

<div class="vlr-advanced-search__header">
	<div class="vlr-advanced-search__header-toolbar">
		<div class="vlr-advanced-search__match-all-countries-container">
			<label for="match-all-countries-input" class="vlr-advanced-search__match-all-countries-label">
				Match All Selected Countries
			</label>
			<input id="match-all-countries-input" type="checkbox" class="vlr-advanced-search__match-all-countries-input">			
		</div>
	</div>
	<h1 class="vlr-advanced-search__header-title">Organisation Criteria</h1>
</div>

<div class="vlr-advanced-search__section vlr-advanced-search__section-countries"></div>
<div class="vlr-advanced-search__section vlr-advanced-search__section-regions"></div>
<div class="vlr-advanced-search__section vlr-advanced-search__section-organisation-types"></div>
