<div class="vlr-searchbox__buttons-container">
	<button class="vlr-searchbox__search-button">Search</button>
	<button class="vlr-searchbox__more-button">
		<div class="vlr-searchbox__bars_container">
			<span class="vlr-searchbox__bar1"></span>
			<span class="vlr-searchbox__bar2"></span>
			<span class="vlr-searchbox__bar3"></span>
		</div>
		<div class="vlr-searchbox__tooltip">
			Click here to open advanced search
		</div>
	</button>
</div>

<div class="vlr-searchbox__input-container">
	<input type="text" class="vlr-searchbox__input" placeholder="Find..." value="{{keyword}}"/>
</div>